<!DOCTYPE html>
<html lang="fi">

<head>
  <%- include('partials/header') %>
    <title>Document</title>
     
</head>

<body>
  <%if (entries.length) { %>
  <div class="col-md-4 offset-md-3">
    <% entries.forEach(function(entry) { %>
      <div class="card md-2">
        <div class="card-header bg-primary text-white">
          <p><%= entry.published %></p>
        </div>
      </div>
      <div class="card-body">
        <h1><%= entry.title %></h1>
        <h2><%= entry.name %></h2>
        <p><%= entry.content %></p>
      </div>
    <% }) %>

  </div >
  <% } else { %>
    <iframe src="https://giphy.com/embed/I2QQlj7vgtT6U" width="480" height="333" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/meme-viral-ypulse-I2QQlj7vgtT6U"></a></p>
    <h2 class="col-md-4 offset-md-3">No Guests! <a href="/new-message">Add One!</a></h2>
  <% } %>

<%- include('partials/footer') %> 
</body>

</html> 